@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
}
.foto{
    border-radius: 360px;
    width: 200px;
}