@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    font-family: 'Roboto';
}
header{
    font-family: 'SUSE';
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    height: 70px;
    padding: 10px;
}
#logo{
    font-weight: bolder;
    font-size: 1.2em;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    gap: 18px;
    flex-flow: row nowrap;
}
#menu a{
    color: white;
    text-decoration: none;
    flex-shrink: 1;
    flex-grow: 1;
}
section{
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.144);
    line-height: 1.5em;
}
section h1{
    padding: 10px 0px;
    font-size: 1.7em;
}
section p{
    text-indent: 20px;
}