@charset "UTF-8";

/*
    o que em HTML é id, em CSS é # (id=#)
    o que em HTML é class em CSS é . (id=.)
*/

body{
    background-color: rgb(124, 228, 124);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 71, 0);
}
#principal{
    text-align: center;
    background-color: green;
    color: white;
}
.basico{
    color: green;
    font-weight: 300;
}
.intermediario{
    color: red;
    font-weight: 600;
}
.avancado{
    color: black;
    font-weight: 900;
}
h2{
    color: rgb(0, 110, 0);
}